/** Fonts **/

$base-font: "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
$header-font: "Knockout 31 A", "Knockout 31 B", 'Helvetica Neue', Arial, sans-serif;

/* Colors */
$orange: #fd8724;
$lighterorange: #faf0e7;
$grey: #505050;
$midgrey: #303030;
$lightgrey: #B0B0B0;
$lightergrey: #F8F8F8;
$green: #82ba70;