body {
  background: #ffffff;
  color:$grey;
  font: 500 14px/26px $base-font;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

p {
  padding-bottom: 10px;
}

a {
  color: $orange;
  font-weight: 700;
  text-decoration: none;
}

.guideListWrapper {
  border-bottom: 2px solid $orange;
}

.notFoundErrorPage {
  background: $midgrey;
  color: white;
}

.notFoundErrorPage .mainContainer {
  background: inherit;
}

.notFoundErrorPage .mainContainer > div {
  background: inherit;
}

.warning {
  color: red;
}

.apiTopMessage {
  border: 1px solid $blue;
  background-color: lighten($blue, 40%);
  color: $darkblue;
  font-size: smaller;
  font-style: italic;
  padding: 0.5em;
}

.apiTopMessage:nth-child(n+2) {
  border-top: none;
}

.isNotFbViewer * .fbOnly {
  display: none;
}

.apiTopMessage.fbOnly p:last-child {
  padding-bottom: 0px;
}

@media only screen and (max-width: 1020px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: 18px;
    line-height: 1.8em;
  }
}
