body {
  background: #ffffff;
  color:$grey;
  font: 500 14px/26px $base-font;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

p {
  padding-bottom: 10px;
}

a {
  color: $orange;
  font-weight: 700;
  text-decoration: none;
}

.guideListWrapper {
  border-bottom: 2px solid $lightgrey;
}

.notFoundErrorPage {
  background: $midgrey;
  color: white;
}

.notFoundErrorPage .mainContainer {
  background: inherit;
}

.notFoundErrorPage .mainContainer > div {
  background: inherit;
}

.warning {
  color: red;
}

.message {
  font-size: medium;
  padding: 0.5em;
  margin-bottom: 0.5em;

  .note {
    border: 1px solid $darkblue;
    background-color: $lightestblue;
  }

  .tip {
    border: 1px solid $green;
    background-color: $lightgreen;
  }

  .caution {
    border: 1px solid $darkyellow;
    background-color: $lightyellow;
  }

  .danger {
    border: 1px solid $red;
    background-color: $lightred;
  }

  .api {
    border: 1px solid $blue;
    background-color: lighten($blue, 40%);
    color: $darkblue;
    font-size: smaller;
    font-style: italic;
    padding: 0.5em;
  }
}

.fbOnly.apiAlias {
  display: block;
  padding-left: 1em;
  font-style: italic;
}

.fbOnly.apiAlias:before, .fbIcon:before {
  content: 'f';
  margin-right: 0.25em;
  font-style: normal;
  background: linear-gradient(to top, #4267b2, #5890ff);
  width: 1em;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-family: Helvetica;
  font-size: 120%;
}

.api:nth-child(n+2) {
  border-top: none;
}

.isNotFbViewer * .fbOnly {
  display: none;
}

.api.fbOnly p:last-child {
  padding-bottom: 0px;
}

.searchResultType {
  font-style: italic;
  color: #aaa;
  margin-left: 0.5em;
}

@media only screen and (max-width: 1020px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: 18px;
    line-height: 1.8em;
  }
}
