.buttonHolder{
  display: block;

	.button {
    border-radius: 0px;
		display: inline-block;
    line-height: 1.2em;
		font-weight: 700;
    padding: 0;
    position: relative;
    @include buttonhover($blue);
    @include glyphblock;

    .buttonText {
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    &.buttonSmall .buttonText {
      font-size: 12px;
      padding: 5px 20px;
    }

    &.buttonMedium .buttonText {
      font-size: 14px;
      padding: 10px 20px;
    }

    &.buttonLarge .buttonText {
      font-size: 16px;
      padding: 15px 20px;
    }

    &.buttonConfirm {
      @include buttonhover($green);
    }

    &.buttonSpecial {
      @include buttonhover($orange);
    }

    &.buttonDelete {
      @include buttonhover($red);
    }
	}

  &.buttonWithGlyph {
    .button {
      .buttonText {
        padding-left: 60px;
      }
    }

    &.buttonAlignRight {
      .button {
        .buttonText {
          padding-left: 20px;
          padding-right: 60px;
          text-align: right;
        }

        .glyphIcon {
          left: auto;
          right: 0px;
        }
      }
    }
  }

  &.buttonInlineHolder {
    display: inline-block;
  }
}
