.highlight {
  @include codetext;
  border-left: 3px solid $orange;
  overflow-x: auto;
  padding: 10px;
  margin: 25px 0;

  &.fbgfm {
    padding: 0px;
  }
}

p + .highlight {
  margin-top: 0;
}

.output-block span {
  color: inherit;
}
