.paginationLinks {
  .paginationLink {
    a {
      display: block;
      padding: 10px;
      position: relative;
      @include transition(color 0.3s);
      z-index: 90;
    }

    &.next {
      text-align: right;
    }

    &:hover {
      a {
        color: white;
      }
    }

    flex-basis: 50%;
    flex-grow: 1;
    margin: 10px;
    position: relative;
  }

  display: flex;
  margin: 0 -10px;
  padding-top: 20px;
}
