.paginationLinks {
  .paginationLink {
    a {
      display: block;
      position: relative;
      z-index: 90;
    }

    &.next {
      text-align: right;
    }

    flex-basis: 50%;
    flex-grow: 1;
    margin: 10px;
    position: relative;
  }

  display: flex;
  margin: 0 -10px;
  padding-top: 20px;
}
