.logoCSS {
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 40px;

  .logoPolygon {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
  }

  .a {
    border-width: 0 0 12px 12px;
    border-color: transparent transparent grey transparent;
    left: 0px;
    top: 15px;

    &.a1 {
      border-color: transparent transparent $orange transparent;
    }

    &.a2 {
      top: 1px;
      left: 14px;
    }

    &.a3 {
      top: 0px;
      left: 0px;
    }

    &.a4 {
      top: 17px;
      left: 14px;
    }
  }

  .b {
    border-width: 12px 12px 0 0;
    border-color: grey transparent transparent transparent;
    left: 14px;
    top: 15px;

    &.b1 {
      border-color: white transparent transparent transparent;
    }

    &.b2 {
      top: 29px;
      left: 0px;
    }

    &.b3 {
      top: 12px;
      left: 0px;
    }

    &.b4 {
      top: 29px;
      left: 14px;
    }
  }
}

.notFoundIcon {
  margin: 50px 0;
  text-align: center;

  .notFoundIconCSS {
    display: inline-block;
    height: 25.5vw;
    margin: 0 1vw;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 17vw;

    &.notFound_4_IconCSS {
      .a {
        border-color: transparent transparent $lightgrey transparent;
        border-width: 0 0 8vw 8vw;

        &.a1 {
          border-color: transparent transparent $lightgrey transparent;
          left: 0px;
          top: 1px;
        }

        &.a2 {
          left: 9vw;
          top: 0px;
        }

        &.a3 {
          border-width: 0px 0px 7vw 7vw;
          left: 1vw;
          top: 9vw;
        }

        &.a4 {
          border-width: 0px 0px 8.35vw 8.35vw;
          left: 8.55vw;
          top: 8.6vw;
        }
      }

      .b {
        border-color: $lightgrey transparent transparent transparent;
        border-width: 8vw 8vw 0 0;

        &.b1 {
          border-color: $lightgrey transparent transparent transparent;
          left: 0px;
          top: 8vw;
        }

        &.b2 {
          border-width: 7.4vw 7.4vw 0px 0px;
          left: 8.6vw;
          top: 8.6vw;
        }

        &.b3 {
          border-width: 8.35vw 8.35vw 0px 0px;
          left: 8.55vw;
          top: 16.89vw;
        }
      }
    }

    &.notFound_0_IconCSS {
      width: 16vw;
      .a {
        border-color: transparent transparent $orange transparent;
        border-width: 0 0 8vw 8vw;

        &.a1 {
          border-color: transparent transparent $orange transparent;
          left: 0px;
          top: 1px;
        }

        &.a2 {
          border-width: 0 0 7.5vw 7.5vw;
          left: 8.55vw;
          top: 1.1vw;
        }

        &.a3 {
          border-width: 0px 0px 7vw 7vw;
          left: 1vw;
          top: 9vw;
        }
      }

      .b {
        border-color: $orange transparent transparent transparent;
        border-width: 8vw 8vw 0 0;

        &.b1 {
          border-color: $orange transparent transparent transparent;
          left: 0px;
          top: 8vw;
        }

        &.b2 {
          border-width: 7.4vw 7.4vw 0px 0px;
          left: 8.6vw;
          top: 0vw;
        }

        &.b3 {
          border-width: 7.5vw 7.5vw 0px 0px;
          left: 8.6vw;
          top: 8.5vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .b.b3 {
    left: 8.65vw;
    top: 16.75vw;
  }
}
