/** Fonts **/

$base-font: "Open Sans", Arial, Helvetica, sans-serif;
$header-font: "Roboto", 'Helvetica Neue', Arial, sans-serif;
$fa-font-path: "/s/evergreen/fonts/fontawesome-free-5.15.4-web";

/* Colors */
$orange: #fd8724;
$lightorange: #fda052;
$lighterorange: #faf0e7;

$grey: #505050;
$midgrey: #303030;
$lightgrey: #B0B0B0;
$lightergrey: #F8F8F8;
$bluishgrey: #ecf0f0;

$green: #2db04b;
$lightergreen: #DFF7E5;

$blue: #6986a6;
$lightblue: lighten($blue, 10%);
$darkblue: darken($blue, 10%);

$red: #d64932;

$footer-bg: $midgrey;

$large-screen-cutoff: 1400px;
$medium-screen-cutoff: 1020px;
$small-screen-cutoff: 640px;
$large-screen-max-width: 1200px;
$default-max-width: 1000px;

$header-height: 60px;
$side-padding: 30px;
$side-padding-mob: 10px;

/* Mixins */

@mixin codetext {
  font-family: "Lucida Console", Monaco, "Courier New", monospace;
  font-size: 90%;
  line-height: 1.4em;
}

@mixin codeemph {
  background: darken($lightergrey, 3%);
  border-radius: 2px;
  padding: 1px 3px;
}

@mixin headerfade {
  opacity: 0.3;
  transition: opacity 0.3s;
}

@mixin apinavlink {
  font-family: $base-font;
  font-size: 12px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  word-wrap: break-word;
}

@mixin buttonhover($color) {
  background-color: lighten($color, 30%);
  color: darken($color, 20%);
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;

  .buttonText {
    border-bottom: 2px solid lighten($color, 25%);
    transition: border-color 0.3s;

    a {
      color: darken($color, 20%);
    }
  }

  .glyphIcon {
    background: $color;
    border-bottom: 2px solid darken($color, 5%);
    color: white;
  }

  &:hover, &:focus {
    background-color: lighten($color, 15%);
    color: darken($color, 30%);

    .buttonText {
      border-color: darken($color, 10%);
    }
  }

  &:active {
    background-color: lighten($color, 5%);
    color: white;

    .buttonText {
      border-color: $color;
    }
  }
}

@mixin notice($color) {
  background: lighten($color, 30%);
  border-color: $color;

  .glyphIcon {
    background: $color;
    color: white;
  }

  a {
    color: darken($color, 25%);
  }
}

@mixin searchplaceholderfocus {
  & + .inputLabel {
    left: -30px;

    .searchPlaceholder {
      color: rgba(white, 0);
    }
  }
}

@mixin glyphblock {
  .glyphIcon {
    align-items: center;
    bottom: 0px;
    display: flex;
    font-size: 14px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 40px;

    &.fa-2x {
      font-size: 18px;
    }

    &::before {
      margin: 0 auto;
    }
  }
}
