vendor
vendor-rb
composer.phar
.commit-template
www.pid
*.swp
*.php.diff
*.php.out
*.php.type-errors.diff
*.php.type-errors.out
*.css.map
/build/
/public/www.pid
.sass-cache
.bundle
bourbon/
.DS_Store
*~
*.orig
*.rej

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
