vendor
composer.phar
.commit-template
*.swp
LocalConfig.php
*.php.diff
*.php.out
*.php.type-errors.diff
*.php.type-errors.out
*.css.map
/build/
/public/www.pid
.sass-cache/
bourbon/
/scss/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
