<?hh // strict

namespace HHVM\UserDocumentation;

abstract final class LocalConfig {
  const string BUILD_DIR = __DIR__.'/build';
  const string HHVM_TREE = '/home/fred/hhvm';
  const bool REBUILD_SYSTEMLIB = true;
}
