@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

/** Fonts **/
/* Colors */
@media only screen and (max-width: 640px) {
  .tableWrapper {
    margin: 20px 0;
  }
  .tableWrapper table {
    display: block;
  }
  .tableWrapper table thead {
    display: none;
  }
  .tableWrapper table tbody {
    display: block;
  }
  .tableWrapper table tbody tr {
    background: #F8F8F8;
    border: 1px solid #B0B0B0;
    display: block;
    margin: 15px 0;
    padding: 15px;
  }
  .tableWrapper table tbody tr td {
    border-bottom: 1px dotted #B0B0B0;
    display: block;
    padding: 5px 0;
    text-align: right;
  }
  .tableWrapper table tbody tr td::before {
    color: #505050;
    content: attr(data-heading);
    display: block;
    font-family: "Knockout 31 A", "Knockout 31 B", "Helvetica Neue", Arial, sans-serif;
    float: left;
    height: 100%;
    text-transform: uppercase;
  }
  .tableWrapper table tbody tr td:last-of-type {
    border-bottom: none;
  }
  .tableWrapper table tbody tr td code {
    color: #2db04b;
    display: inline-block;
    font-size: 12px;
  }
}
@media only screen and (min-width: 640px) {
  .tableWrapper {
    margin: 20px 0;
    overflow-x: auto;
  }
  .tableWrapper table {
    background: #F8F8F8;
    border: 1px solid #B0B0B0;
    display: table;
    min-width: 600px;
  }
  .tableWrapper table thead {
    border-bottom: 1px solid #B0B0B0;
    display: table-header-group;
  }
  .tableWrapper table tbody {
    display: table-row-group;
  }
  .tableWrapper table tr {
    display: table-row;
  }
  .tableWrapper table tr:nth-of-type(odd) {
    background: #E8E8E8;
  }
  .tableWrapper table tr th, .tableWrapper table tr td {
    border-right: 1px dotted #B0B0B0;
    display: table-cell;
    font-size: 14px;
    line-height: 1.3em;
    padding: 10px;
    text-align: left;
  }
  .tableWrapper table tr th:last-of-type, .tableWrapper table tr td:last-of-type {
    border-right: 0;
  }
  .tableWrapper table tr th code, .tableWrapper table tr td code {
    color: #2db04b;
    display: inline-block;
    font-size: 12px;
  }
  .tableWrapper table tr th {
    color: #505050;
    font-family: "Knockout 31 A", "Knockout 31 B", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
  }
}
.paginationLinks {
  display: flex;
  margin: 0 -10px;
  padding-top: 20px;
}
.paginationLinks .paginationLink {
  flex-basis: 50%;
  margin: 10px;
  position: relative;
}
.paginationLinks .paginationLink a {
  border-top: 2px solid #fd8724;
  display: block;
  font-family: "Knockout 31 A", "Knockout 31 B", "Helvetica Neue", Arial, sans-serif;
  font-size: 150%;
  font-weight: 400;
  padding: 10px;
  position: relative;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  z-index: 90;
}
.paginationLinks .paginationLink::before {
  content: "";
  display: block;
  background-color: transparent;
  height: 100%;
  position: absolute;
  -webkit-transition: background-color 0.3s, width 0.3s;
  -moz-transition: background-color 0.3s, width 0.3s;
  transition: background-color 0.3s, width 0.3s;
  width: 0px;
}
.paginationLinks .paginationLink.next {
  text-align: right;
}
.paginationLinks .paginationLink.previous::before {
  right: 0px;
}
.paginationLinks .paginationLink:hover::before {
  background-color: #fd8724;
  width: 100%;
}
.paginationLinks .paginationLink:hover.previous::before {
  right: 0px;
}
.paginationLinks .paginationLink:hover a {
  color: white;
}

body {
  background: #ffffff;
  color: #505050;
  font: 500 14px/26px "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

p {
  padding-bottom: 10px;
}

a {
  color: #fd8724;
  font-weight: 700;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Knockout 31 A", "Knockout 31 B", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3em;
}

h1 a, h2 a, h3 a, h4 a {
  font-weight: 400;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 140%;
}

.widthWrapper {
  margin: 0 30px;
  position: relative;
}

.header {
  background: #303030;
  border-bottom: 2px solid #fd8724;
  color: white;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header .widthWrapper {
  height: 100%;
  position: relative;
}

.flexWrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: row no-wrap;
  padding: 50px 0px;
}

.mainTitle + .flexWrapper {
  padding-top: 10px;
}

.mainTitle .widthWrapper {
  max-width: 1000px;
}

.mainContainer {
  padding-top: 62px;
}

.mainWrapper {
  flex: 1;
  order: 2;
  max-width: 1000px;
}

.pageTitle {
  border-bottom: 2px solid #fd8724;
  color: #505050;
  margin: 40px 0 10px;
  padding-bottom: 10px;
}

.guideListWrapper {
  border-bottom: 2px solid #fd8724;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.guideListWrapper .listTitle {
  margin-bottom: 25px;
}

.guideList + .listTitle {
  border-top: 1px dotted #B0B0B0;
  margin-top: 50px;
  padding-top: 50px;
}

.guideList {
  display: flex;
  flex-flow: row wrap;
  margin: -10px;
}

.guideList li {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 10px;
  width: 50%;
}

.guideList li h4 {
  margin-bottom: 10px;
}

.apiList {
  align-items: center;
  border-bottom: 1px solid #fd8724;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px 20px;
  padding-bottom: 20px;
}

.apiList li {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0px 10px;
  width: 25%;
}

.apiList li h4 {
  line-height: 0.8em;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.apiList li h4 a {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.headerLogo, .headerElement {
  bottom: 0px;
  line-height: 60px;
  position: absolute;
  top: 0px;
}

.hhvmLogo {
  left: 110px;
}

.searchBar {
  left: 250px;
}

.hackLogo {
  left: 0px;
}

.headerTypehhvm .hhvmLogo {
  left: 0px;
}

.headerTypehhvm .hackLogo {
  left: 130px;
}

.bodyClassHack .hhvmLogo, .bodyClassHhvm .hackLogo {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.headerLogo:hover {
  opacity: 1;
}

.headerLogo a {
  color: white;
  display: block;
  font-family: "Knockout 31 A", "Knockout 31 B", "Helvetica Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 100%;
  padding-left: 35px;
  position: relative;
  text-decoration: none;
}

.logoCSS {
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 40px;
}

.logoCSS .logoPolygon {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.logoCSS .a {
  border-width: 0 0 12px 12px;
  border-color: transparent transparent grey transparent;
  left: 0px;
  top: 15px;
}

.logoCSS .b {
  border-width: 12px 12px 0 0;
  border-color: grey transparent transparent transparent;
  left: 14px;
  top: 15px;
}

.logoCSS .a1 {
  border-color: transparent transparent #fd8724 transparent;
}

.logoCSS .b1 {
  border-color: white transparent transparent transparent;
}

.logoCSS .a.a2 {
  top: 1px;
  left: 14px;
}

.logoCSS .b.b2 {
  top: 29px;
  left: 0px;
}

.logoCSS .a.a3 {
  top: 0px;
  left: 0px;
}

.logoCSS .b.b3 {
  top: 12px;
  left: 0px;
}

.logoCSS .a.a4 {
  top: 17px;
  left: 14px;
}

.logoCSS .b.b4 {
  top: 29px;
  left: 14px;
}

.notFoundMessage {
  text-align: center;
}

.notFoundIcon {
  margin: 50px 0;
  text-align: center;
}
.notFoundIcon .notFoundIconCSS {
  display: inline-block;
  height: 25.5vw;
  margin: 0 1vw;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 17vw;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .a {
  border-color: transparent transparent #B0B0B0 transparent;
  border-width: 0 0 8vw 8vw;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .a.a1 {
  border-color: transparent transparent #B0B0B0 transparent;
  left: 0px;
  top: 1px;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .a.a2 {
  left: 9vw;
  top: 0px;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .a.a3 {
  border-width: 0px 0px 7vw 7vw;
  left: 1vw;
  top: 9vw;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .a.a4 {
  border-width: 0px 0px 8.35vw 8.35vw;
  left: 8.55vw;
  top: 8.6vw;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .b {
  border-color: #B0B0B0 transparent transparent transparent;
  border-width: 8vw 8vw 0 0;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .b.b1 {
  border-color: #B0B0B0 transparent transparent transparent;
  left: 0px;
  top: 8vw;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .b.b2 {
  border-width: 7.4vw 7.4vw 0px 0px;
  left: 8.6vw;
  top: 8.6vw;
}
.notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .b.b3 {
  border-width: 8.35vw 8.35vw 0px 0px;
  left: 8.55vw;
  top: 16.89vw;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS {
  width: 16vw;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS .a {
  border-color: transparent transparent #fd8724 transparent;
  border-width: 0 0 8vw 8vw;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS .a.a1 {
  border-color: transparent transparent #fd8724 transparent;
  left: 0px;
  top: 1px;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS .a.a2 {
  border-width: 0 0 7.5vw 7.5vw;
  left: 8.55vw;
  top: 1.1vw;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS .a.a3 {
  border-width: 0px 0px 7vw 7vw;
  left: 1vw;
  top: 9vw;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS .b {
  border-color: #fd8724 transparent transparent transparent;
  border-width: 8vw 8vw 0 0;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS .b.b1 {
  border-color: #fd8724 transparent transparent transparent;
  left: 0px;
  top: 8vw;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS .b.b2 {
  border-width: 7.4vw 7.4vw 0px 0px;
  left: 8.6vw;
  top: 0vw;
}
.notFoundIcon .notFoundIconCSS.notFound_0_IconCSS .b.b3 {
  border-width: 7.5vw 7.5vw 0px 0px;
  left: 8.6vw;
  top: 8.5vw;
}

.notFoundErrorPage {
  background: #303030;
  color: white;
  text-align: center;
}
.notFoundErrorPage .pageTitle {
  display: none;
}
.notFoundErrorPage .mainWrapper {
  margin: 0 auto;
}

.navWrapper {
  background: #F8F8F8;
  box-sizing: border-box;
  order: 1;
}
.navWrapper .navLoader, .navWrapper .navToggle {
  height: 100%;
}

.navWrapper h3 {
  font-size: 19px;
}

.navWrapper .navList li a {
  color: #B0B0B0;
  display: block;
}

.navWrapper .navList li a:hover {
  background-color: #DADADA;
  color: #303030;
}

.navWrapper .navList li h4 {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.navWrapper .navList li h4 a {
  color: #fd8724;
  padding-bottom: 10px;
  padding-top: 10px;
}

.navWrapper .subList {
  margin-bottom: 20px;
}

.navList {
  position: relative;
}

.navWrapper .navList .subListItem h5 a {
  color: #505050;
  font-weight: 400;
}

.navWrapper .navList.apiNavList .subListItem h5 {
  line-height: 0.7em;
}

.navWrapper .navList.apiNavList .subListItem h5 a {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  word-wrap: break-word;
}

.navWrapper .navList.apiNavList .secondLevelListItem h6 {
  line-height: 0.7em;
}

.navWrapper .navList.apiNavList .secondLevelListItem h6 a {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  word-wrap: break-word;
}

.navWrapper .navList .subListItem h5 a {
  padding-left: 30px;
  position: relative;
}

.subListItem h5 a::before {
  border-color: transparent transparent transparent transparent;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  content: "";
  height: 0;
  left: 12px;
  position: absolute;
  top: 8px;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  transition: border-color 0.5s;
  width: 0;
}

.subListItem:hover h5 a::before {
  border-color: transparent transparent transparent #505050;
}

.navWrapper .navList .subListItem.itemActive h5 a,
.navWrapper .navList.apiNavList .secondLevelListItem.secondLevelItemActive h6 a {
  font-weight: 700;
}

.navWrapper .navList.apiNavList .secondLevelListItem.secondLevelItemActive h6 a {
  color: #303030;
}

.subListItem.itemActive h5 a::before {
  border-color: transparent transparent transparent #fd8724;
}

.apiNavList .subListItem h5 a::before {
  top: 7.5px;
}
.apiNavList .secondLevelList {
  display: none;
}
.apiNavList .itemActive .secondLevelList {
  display: block;
}
.apiNavList .navGroup .subList {
  display: none;
}
.apiNavList .navGroup.navGroupActive .subList {
  display: block;
}

.innerContent img {
  max-width: 100%;
}
.innerContent ol {
  list-style: decimal inside;
  margin: 0.5em 0 2em;
  padding-left: 1em;
}
.innerContent p {
  padding-bottom: 1.5em;
}

.innerContent ul {
  list-style: disc inside;
  margin: 0.5em 0 2em;
  padding-left: 1em;
}

.innerContent strong {
  font-weight: 700;
}

.innerContent em {
  font-style: italic;
}

.innerContent code, .highlight {
  font-family: Hack, monospace;
  font-size: 90%;
  line-height: 1.4em;
}

.innerContent p > code {
  background: #DFF7E5;
  border-radius: 2px;
  color: #2db04b;
  padding: 1px 3px;
}

.innerContent h1, .innerContent h2 {
  font-size: 150%;
  padding: 20px 0;
}

.innerContent h3 {
  font-size: 130%;
  padding: 10px 0;
}

.innerContent h4 {
  font-size: 115%;
  padding: 10px 0;
}

.highlight {
  border-left: 3px solid #fd8724;
  font-size: 12px;
  overflow-x: auto;
  padding: 10px;
  margin: 25px 0;
}

.breadcrumbNav {
  line-height: 1.2em;
  padding-top: 10px;
  word-wrap: break-word;
}

.breadcrumbNav, .breadcrumbNav a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.breadcrumbSeparator {
  margin: 0 10px;
  padding-left: 6px;
  position: relative;
}

.breadcrumbSeparator::before {
  border-color: transparent transparent transparent #B0B0B0;
  border-style: solid;
  border-width: 3px 0px 3px 5.5px;
  content: "";
  height: 0;
  left: 0px;
  position: absolute;
  top: 5px;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  transition: border-color 0.5s;
  width: 0;
}

@media only screen and (max-width: 480px) {
  .guideList li {
    width: 100%;
  }

  .highlight {
    font-size: 60%;
  }

  .apiList, .navWrapper .navLoader .navList {
    display: block;
  }

  .navToggletrue .navList {
    display: block;
  }

  .apiList li, .navWrapper .navLoader .navList li {
    width: 100%;
  }

  .breadcrumbNav {
    line-height: 1.6em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1020px) {
  .navWrapper .navLoader .navList {
    display: flex;
  }

  .apiList li, .navWrapper .navLoader .navList li {
    width: 50%;
  }

  .navToggletrue .navList {
    display: flex;
  }
}
@media only screen and (max-width: 1020px) {
  body {
    display: flex;
    flex-flow: column wrap;
    font-size: 15px;
  }

  .flexWrapper {
    display: block;
  }

  .mainContainer {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .navWrapper {
    background: none;
    box-sizing: border-box;
    height: 60px;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    width: 60px;
    z-index: 999;
  }
  .navWrapper[data-active="true"] {
    height: 100%;
    left: 0px;
    padding-top: 60px;
    width: 100%;
  }
  .navWrapper .navTogglefalse .navList {
    display: none;
  }
  .navWrapper .toggleNav {
    color: #505050;
    cursor: pointer;
    font-size: 24px;
    line-height: 60px;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 9999;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .navWrapper .toggleNav.toggleNavtrue {
    color: white;
  }
  .navWrapper .navList {
    align-items: stretch;
    background: #f8f8f8;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    width: 100%;
  }

  .navWrapper .navList > li {
    box-sizing: border-box;
    flex: 1;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-flow: 1;
    padding: 10px;
    width: 50%;
  }

  .subListItem h5 a::before {
    left: -12px;
  }

  .widthWrapper {
    margin: 0 10px;
  }

  .notFoundIcon .notFoundIconCSS.notFound_4_IconCSS .b.b3 {
    left: 8.65vw;
    top: 16.75vw;
  }
}
@media only screen and (min-width: 1020px) {
  .navWrapper {
    height: 100vh;
    order: 1;
    padding: 60px 0 0;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 300px;
    z-index: 99;
  }
  .navWrapper .toggleNav {
    display: none;
  }

  .navWrapper + .mainContainer {
    margin-left: 300px;
  }

  .navWrapper h3 {
    font-size: 19px;
  }

  .navWrapper .navList, .navWrapper .navToggle > .navList {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px 0;
  }

  .navWrapper .navList li h4 a {
    padding-left: 30px;
  }

  .navWrapper .navList .subListItem h5 a {
    padding-left: 30px;
  }

  .navWrapper .navList.apiNavList .secondLevelListItem h6 a {
    padding-left: 45px;
  }

  .navList.apiNavList .subListItem h5 a::before {
    top: 7.5px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    font-size: 18px;
    line-height: 1.8em;
  }

  .mainTitle .widthWrapper {
    max-width: 1200px;
  }

  .mainWrapper {
    max-width: 1200px;
  }

  .subListItem h5 a::before {
    top: 12px;
  }

  .apiNavList .subListItem h5 a::before {
    top: 10px;
  }
}
.warning {
  color: red;
}

/*# sourceMappingURL=main.css.map */
