html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  background: #ffffff;
  color:#505050;
  font: 500 14px/26px "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  text-rendering:optimizeLegibility;
  word-wrap: break-word;
}

p {
  padding-bottom: 10px;
}

a {
  color: #fd8724;
  font-weight: 700;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Knockout 31 A", "Knockout 31 B", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3em;
}

h1 a, h2 a, h3 a, h4 a {
  font-weight: 400;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 140%;
}

.widthWrapper {
  margin: 0 30px;
  position: relative;
}

.header {
  background: #303030;
  border-bottom: 2px solid #fd8724;
  color: white;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header .widthWrapper {
  height: 100%;
  position: relative;
}

.flexWrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: row no-wrap;
  padding: 50px 0px;
}

.mainTitle + .flexWrapper {
  padding-top: 10px;
}

.mainTitle .widthWrapper {
  max-width: 1000px;
}

.mainContainer {
  padding-top: 62px;
}

.mainWrapper {
  flex: 1;
  order: 2;
  max-width: 1000px;
}

.pageTitle {
  border-bottom: 2px solid #fd8724;
  color: #505050;
  margin: 40px 0 10px;
  padding-bottom: 10px;
}

.guideListWrapper {
  border-bottom: 2px solid #fd8724;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.guideListWrapper .listTitle {
  margin-bottom: 25px;
}

.guideList + .listTitle {
  border-top: 1px dotted #B0B0B0;
  margin-top: 50px;
  padding-top: 50px;
}

.guideList {
  display: flex;
  flex-flow: row wrap;
  margin: -10px;
}

.guideList li {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 10px;
  width: 50%;
}

.guideList li h4 {
  margin-bottom: 10px;
}

.apiList {
  align-items: center;
  border-bottom: 1px solid #fd8724;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px 20px;
  padding-bottom: 20px;
}

.apiList li {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0px 10px;
  width: 25%;
}

.apiList li h4 {
  line-height: 0.8em;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.apiList li h4 a {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.headerLogo {
  bottom: 0px;
  line-height: 60px;
  position: absolute;
  top: 0px;
}

.hhvmLogo {
  left: 110px;
}

.hackLogo {
  left: 0px;
}

.headerTypehhvm .hhvmLogo {
  left: 0px;
}

.headerTypehhvm .hackLogo {
  left: 110px;
}

.bodyClassHack .hhvmLogo, .bodyClassHhvm .hackLogo {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.headerLogo:hover {
  opacity: 1;
}

.headerLogo a {
  color: white;
  display: block;
  font-family: "Knockout 31 A", "Knockout 31 B", 'Helvetica Neue', Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 100%;
  padding-left: 35px;
  position: relative;
  text-decoration: none;
}

.logoCSS {
  display: block;
  height: 40px;
  left: 0;
  position: absolute; 
  top: 10px;
  width: 40px;
}

.logoCSS .logoPolygon {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.logoCSS .a {
  border-width: 0 0 12px 12px;
  border-color: transparent transparent grey transparent;
  top: 15px;
}

.logoCSS .b {
  border-width: 12px 12px 0 0;
  border-color: grey transparent transparent transparent;
  left: 14px;
  top: 15px;
}

.logoCSS .a1 {
  border-color: transparent transparent #fd8724 transparent;
}

.logoCSS .b1 {
  border-color: white transparent transparent transparent;
}

.logoCSS .a.a2 {
  top: 1px;
  left: 14px;
}

.logoCSS .b.b2 {
  top: 29px;
  left: 0px;
}

.logoCSS .a.a3 {
  top: 0px;
  left: 0px;
}

.logoCSS .b.b3 {
  top: 12px;
  left: 0px;
}

.logoCSS .a.a4 {
  top: 17px;
  left: 14px;
}

.logoCSS .b.b4 {
  top: 29px;
  left: 14px;
}

.navWrapper {
  background: #F8F8F8;
  box-sizing: border-box;
  order: 1;
}

.navWrapper h3 {
  font-size: 19px;
}

.navWrapper .navList li a {
  color: #B0B0B0;
}

.navWrapper .navList li h4 {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.navWrapper .subList {
  margin-bottom: 30px;
}

.navWrapper .navList .subListItem h5 a {
  color: #505050;
  font-weight: 400;
}

.navWrapper .navList.apiNavList .subListItem h5 {
  margin-bottom: -5px;
}

.navWrapper .navList.apiNavList .subListItem h5 a {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  word-wrap: break-word;
}

.navWrapper .navList .subListItem {
  position: relative;
}

.subListItem::before {
  border-color: transparent transparent transparent transparent;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  content: "";
  height: 0;
  left: -12px;
  position: absolute;
  top: 8px;
  transition: border-color 0.5s;
  width: 0;
}

.subListItem:hover::before {
  border-color: transparent transparent transparent #505050;
}

.navWrapper .navList .subListItem.itemActive h5 a {
  font-weight: 700;
}

.subListItem.itemActive::before {
  border-color: transparent transparent transparent #fd8724;
}

.innerContent ul {
  list-style: disc inside;
  padding-left: 10px;
}

.innerContent strong {
  font-weight: 700;
}

.innerContent em {
  font-style: italic;
}

.innerContent code, .highlight {
  font-family: Hack, monospace;
  font-size: 90%;
  line-height: 1.4em;
}

.innerContent p > code {
  background: #faf0e7;
  border-radius: 2px;
  color: #82ba70;
  font-weight: bold;
  padding: 1px 3px;
}

.innerContent h1, .innerContent h2 {
  font-size: 150%;
  padding: 20px 0;
}

.innerContent h3 {
  font-size: 130%;
  padding: 10px 0;
}

.innerContent h4 {
  font-size: 115%;
  padding: 10px 0;
}

.highlight {
  border-left: 3px solid #fd8724;
  font-size: 12px;
  overflow-x: auto;
  padding: 10px;
  margin: 25px 0;
}

.breadcrumbNav {
  line-height: 1.2em;
  padding-top: 10px;
  word-wrap: break-word;
}

.breadcrumbNav, .breadcrumbNav a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.breadcrumbSeparator {
  margin: 0 10px;
  padding-left: 6px;
  position: relative;
}

.breadcrumbSeparator::before {
  border-color: transparent transparent transparent #B0B0B0;
  border-style: solid;
  border-width: 3px 0px 3px 5.5px;
  content: "";
  height: 0;
  left: 0px;
  position: absolute;
  top: 5px;
  transition: border-color 0.5s;
  width: 0;
}

@media only screen and (max-width: 480px) {
  .guideList li {
    width: 100%;
  }

  .highlight {
    font-size: 60%;
  }

  .apiList {
    display: block;
  }

  .apiList li {
    width: 100%;
  }

  .breadcrumbNav {
    line-height: 1.6em;
  }
} 

@media only screen and (min-width: 480px) and (max-width: 1020px) {
  .apiList li {
    width: 50%;
  }
}

@media only screen and (max-width: 1020px) {
  body {
    display: flex;
    flex-flow: column wrap;
    font-size: 15px;
  }
  
  .flexWrapper {
    display: block;
  }
  
  .mainContainer {
    width: 100%;
    overflow-x: hidden;
  }
  
  .navWrapper {
    margin-right: 0;
    margin-top: 50px;
    position: relative;
    overflow-x: hidden;
    width: 100%;
  }
  
  .navWrapper .navList {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 10px;
    width: 100%;
  }
  
  .navWrapper .navList > li {
    box-sizing: border-box;
    flex: 1;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-flow: 1;
    padding: 10px;
    width: 50%;
  }
  
  .widthWrapper {
    margin: 0 10px;
  } 
} 

@media only screen and (min-width: 1020px) {
  .navWrapper {
    height: 100vh;
    order: 1;
    padding: 60px 0 0;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 300px;
    z-index: 999;
  }
  
  .navWrapper + .mainContainer {
    margin-left: 300px;
  }
  
  .navWrapper h3 {
    font-size: 19px;
  }
  
  .navWrapper > .navList {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px 30px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 15px;
  }

  .navList.apiNavList .subListItem::before {
    top: 9px;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: 18px;
    line-height: 1.8em;
  }

  .mainTitle .widthWrapper {
    max-width: 1200px;
  }
  
  .mainWrapper {
    max-width: 1200px;
  }

  .subListItem::before {
    top: 10px;
  }

  .navList.apiNavList .subListItem::before {
    top: 13px;
  }
}

